<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true" internalLogLevel="Off">

  <variable name="logsDir" value="${basedir}/../logs"/>
  <variable name="timestamp" value="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
  <variable name="format" value="${timestamp}|${level}|${logger:shortName=true}|${message}|${all-event-properties:separator=,}|${exception:format=message,type,method}"/>
  
  <targets>
    <target name="async-file" xsi:type="AsyncWrapper" timeToSleepBetweenBatches="250">
      <target name="file" xsi:type="File" fileName="${logsDir}/log-${shortdate}.log"
          archiveFileName="logs/log-${shortdate}-{###}.log" encoding="utf-8"
          archiveAboveSize="250000" archiveNumbering="Sequence" layout="${format}" />
    </target>
    <target xsi:type="ColoredConsole" name="console" layout="${format}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="async-file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>